/* You can add global styles to this file, and also import other style files */

html, body {
  height: calc(100% - 4em); /* without paddign */
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
  top: 0;
  left: 0;
  position: fixed;
}
main { 
  max-height: calc(100vh - 64px); 
  overflow: auto; 
  margin-top: 64px; 
}
@media (max-width: 599px) {
  main {
    max-height: calc(100vh - 56px);
    margin-top: 56px; 
  }
}
